@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
}

.footer {
    .footer__container {
        padding: 19px 9px;
        display: flex;
        flex-direction: column;
        background-color: #222222;
    }

    .footer__block {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .block__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .text__title {
        font-family: Montserrat;
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 500;
    }

    .text__ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .element {
        color: #D8D8D8;
        font-size: 15px;
        font-weight: 400;
    }

    .footer__info {
        margin-top: 30px;
        padding-top: 11px;
        text-align: center;
        border-top: 1px solid #868686;
        color: #FFFFFF;
    }

    a {
        cursor: pointer;
    }
}