.price-page{
    .main__container{
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        margin-bottom: 37px;
        min-height: 60vh;
    }
    .main__title{
        font-size:28px;
        color:#194E9B;
        margin: 22px 0;

        @media (min-width: 768px) {
            font-size: 32px;
        }
    }
    .main__buttons{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:15px;
        margin-bottom: 10px;
    }
    .button-active{
        padding-bottom:1px;
        border-bottom: 1px solid #194E9B;
    }
    .button{
        color:#464646;
        font-size: 16px;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }
    .main__info{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .info__element{
        display: flex;
        flex-direction: row;
        width: 90vw;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        margin: 0 5px;
        padding: 10px 20px;
        border-top:1px solid #464646;
    }
    .element__column{
        display:flex;
        flex-direction: column;
        gap: 8px;
        max-width: 190px;
    }
    .column__title{
        font-weight: 600;
        font-size: 18px;

        @media (min-width: 768px) {
            font-size: 20px;
        }
    }
    .column__text{
        text-align: center;
        font-size: 14px;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
    .column__text-big {
        font-size: 14px;
        line-height: 1.4;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
     .filter-all {
        .info__element {
            display: flex;
        }
    }

    .filter-big {
        .fast {
            display: none;
        }
    }

    .filter-fast {
        .big {
            display: none;
        }
    }
}